{
  auto_https off
  log default {
    level WARN
  }
}

http://hapro-api, hapro-api {
  reverse_proxy 0.0.0.0:3000
}

http://{$HA_SUBDOMAIN}.ludero.nl, {$HA_SUBDOMAIN}.ludero.nl {
  reverse_proxy 0.0.0.0:{$HA_PORT}
}