{
  auto_https off
  log default {
    level WARN
  }
}

:{$CADDY_PORT} {
  @hapro_api host hapro-api
  handle @hapro_api {
    reverse_proxy 0.0.0.0:3000
  }

  @ha_domain host {$HA_SUBDOMAIN}.ludero.nl
  handle @ha_domain {
    reverse_proxy 0.0.0.0:{$HA_PORT}
  }
}